[submodule "firmware/ChibiOS"]
	path = firmware/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "hardware/agg-kicad"]
	path = hardware/agg-kicad
	url = https://github.com/adamgreig/agg-kicad.git
[submodule "software/thegrid/patterns/midi"]
    path = software/thegrid/patterns/midi
    url = https://github.com/vishnubob/python-midi.git
